{% extends 'base.html' %}

{% block title %}Add Movie{% endblock %}

{% block content %}
{% if get_query %}
<div class="content">
    <h1 class="heading">Add a Movie</h1>
</div>
<body>
    <form action="{{url_for('add_movie')}}" method="POST">
    <h2>Movie Title</h2>
        <input name="query" type="text" placeholder="Movie Title">
        <button type="submit">Add Movie</button>
    </form>
</body>
{% else %}
    <h1 class="heading">Select Movie</h1>
    {% for movie in movies %}
        <a href="#">{{movie}}</a>
        <p></p>
    {% endfor %}

{% endif %}
{% endblock %}